<button mat-raised-button color="primary" routerLink="/employees/new">Add Employee</button>
<br/>
<br/>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="employees" class="mat-table">
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let employee">{{ employee.first_name }}</td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let employee">{{ employee.last_name }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let employee">
          <button mat-icon-button color="primary" [routerLink]="['/employees', employee.id, 'edit']">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmployee(employee.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="secondary" [routerLink]="['/employees', employee.id]">
            <mat-icon>preview</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  